# .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.suo
*.cache
*.log

# Visual Studio
.vs/
*.csproj.user
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
packages/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
publish/
deploy.zip

# Entity Framework
Migrations/

# OS
.DS_Store
Thumbs.db
